/* Global Styles */
@font-face {
	font-family: 'VerelaRound';
	src: url('VarelaRound-Regular.eot'); /* IE9 Compat Modes */
	src: url('VarelaRound-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   
	     url('VarelaRound-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('VarelaRound-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Lato';
	src: url('Lato-Bold.ttf'); /* IE9 Compat Modes */
}

html,
body {
  height: 100%;
  width: 100%;
  color:#7a7a7a;
  line-height:24px;
}
h1, .h1, h2, .h2, h3, .h3 {
margin-top: 0px;
margin-bottom: 0;
padding: 20px 0
}
p, a{
font-family: 'VerelaRound';
}
img{
max-width:100%;
}
#boxWrapp{
width:100%;
margin:0 auto;
padding:0;
overflow:hidden;
}
.build{
padding:40px 0;
margin:0;
}

.build ul{
padding:0;
margin:0;
list-style:none;
position:relative;
}
.btn-clear{
border:4px solid;
}
.btn{
font-size:14px;
}
/*on scroll show*/

/* =============================== header ===================================== */
.header{
background: url(../img/bghead.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
/* slider */

.maskHeader{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
/*background: url(../img/pattern.png);*/
}

#flex-head h1{
font-family: 'Lato';
font-weight:700;
font-size:60px;
margin:0;
padding:10px 0;
color:#fff;
}
#flex-head {
margin: 0 0 0;
background: transparent;
border: none;
position: relative;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-o-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
box-shadow:none;
zoom: 1;
}
#flex-head h2{
font-family: 'VerelaRound';
font-size:24px;
margin:0;
padding:0 0 40px 0;
color:#fff;
}
#flex-head .slides > li{
position:relative;
}
#flex-head .flex-control-nav, #flex-head .flex-direction-nav{
display:none;
}

.main-caption{
width:100%;
position:absolute;
top:50%;
left:0;
transform: translate(0, -50%); 
-webkit-transform: translate(0, -50%); 
-moz-transform: translate(0, -50%); 
-ms-transform: translate(0, -50%); 
-o-transform: translate(0, -50%); 
text-align:center;
}

.btnAbout{
color:#fff;
font-size:14px;
}
.btnAbout:hover{
 color:#fff;   
}
.main-caption .btn-clear{
padding:14px 24px;
}

.main-caption .btn-clear:hover{
border-color:#fff;
}

/* ==============================================================  Menu ======================================================= */
.main-nav{
position:fixed;
top:0;
display:none;
width: 100%;
min-height: 54px;
z-index:99;
}

.navbar {
border-radius: 0px;
min-height: 54px;
margin-bottom: 0px;
width: 100%;
z-index:99;
border:none;
}
a.navbar-brand {
float: left;
height: inherit;
padding: 3px 15px;
font-size: 18px;
line-height: 48px;
color:#fff;
}
.navbar-inverse .navbar-brand {
color:#fff;
}
.navbar-nav > li > a {
padding-top: 16px;
padding-bottom: 13px;
border-bottom:5px solid transparent;
font-size:14px;
text-transform:uppercase;
}

.navbar-inverse .navbar-nav > li > a {
color: #fff;
}
.navbar-inverse .navbar-nav > li.current > a {
text-decoration:none;
}
.navbar-nav > li.current > a, .navbar-inverse .navbar-nav > li > a:hover{
background:rgba(255,255,255,0.1);
}

/* ========================================= title page ==================================== */

.title-page{
color:#7a7a7a;
}
.title-page h2{
position: relative;
margin: 0 ;
z-index: 77;
padding: 0 0 20px 0;
font-size:36px;
font-weight:600;
font-famiily:'Lato';
}
.line-title{
width: 40px;
height: 8px;
margin: 0 auto;
}

/* Full Page Image Header Area */

.header {
  position: relative;
 
}
.linear{
 transition:all 200ms linear;   
 -webkit-transition:all 200ms linear;   
 -moz-transition:all 200ms linear;   
 -ms-transition:all 200ms linear;   
 -o-transition:all 200ms linear;   
}
/* Intro */

.page{
  padding: 40px 0;
  position:relative;
  border-bottom:5px solid #dedede;
}
.page:last-of-type{
border-bottom:none;
padding:120px 0;
}
.page-bgcolor{
background:#f2f2f2;
}
/* ================================================= about us ================================================== */

.about-content p{
font-size:14px;
padding-bottom:20px;
margin:0;
color:black;
}
.avatar{
 max-width:180px;   
}
.avatar img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main-about img{
margin-right:20px;
}
.main-about .btn-clear{
padding: 14px 24px;
}
.main-about .btn-clear:hover{
color:#fff;
}
	/*==================progress========================*/
.progress {
height:9px;
background-color: #dadfe1;
border-radius: 0px;
-webkit-box-shadow: none;
box-shadow: none;
clear: both;
margin: 6px 0 16px 0;
overflow: inherit;
}
.progress-bar{
position:relative;
 transition:all 200ms linear !important;   
 -webkit-transition:all 200ms linear !important;   
 -moz-transition:all 200ms linear !important;   
 -ms-transition:all 200ms linear !important;   
 -o-transition:all 200ms linear !important;   
}
.wrapp-progress{
position:relative;  
padding-top: 24px;
}
.wrapp-progress p{
font-size:14px;
font-family: 'Lato', sans-serif;  
color:#444444;  
font-weight:bold;
margin:0;
padding:0;
line-height:24px;
position:absolute;
left:0;
top: 0px;
}

.precent-value{
 color:#fff;  
font-size:12px;
line-height:24px;
position:absolute;
right: -25px;
top: -30px;
height: 24px;
width: 50px;
background: #1d1d1d;
border-radius: 3px;
font-family: 'VerelaRound';
}
.progress-bar i{
font-size:24px;
color:#1d1d1d;
position:absolute;
right: -7px;
top: -16px;
}
.progress {
clear: both;
}

/* ============================================== Portfolio ================================================================= */
ul#filterOptions{
margin: 0;
padding: 40px 0 0 0;
list-style: none;
display: table; 
}

ul#filterOptions li{
 float:left;
margin-right: -1px;
}
ul#filterOptions li span{
padding: 10px 12px;
display: block;  
color:#c4c4c4;  
padding:0 10px;
font-family: 'VerelaRound';
}
ul#filterOptions li a{
color:#c4c4c4;  
font-size:18px;
padding:0;
}
ul#filterOptions li.cur a:hover{
 color:#1d2127;   
}
ul#filterOptions li a:hover{
 text-decoration:none;  
}
.folio-content{
height:auto;
}
ul.container_folio{
overflow:hidden;

}
ul.container_folio li.box{
overflow:hidden;
height:auto;
display:block;
}
.box img{
max-width:100%
}
.portfolio-item .thumbnail{
margin:0;
position:relative;
}

.linear{
 transition:all 200ms linear;   
 -webkit-transition:all 200ms linear;   
 -moz-transition:all 200ms linear;   
 -ms-transition:all 200ms linear;   
 -o-transition:all 200ms linear;   
}
.thumb-img{
 position:relative;  
overflow:hidden;
background:#000;
}
.thumb-img img{
display:block;

-webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;  
}
.thumb-img:hover img, .link-attr:hover .thumb-img > img{
 -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;   
}
.thumb-img:hover img{
 opacity:0.7;   
}
.folio-img{
padding:15px 0;
}
.folio-caption{
 position:absolute;
 bottom:-58px;
 left:0;
background:#fff;
width:100%;
max-height:48px;
}
.folio-caption p{
 color:#1d2127;
 padding:15px;
 margin:0;
text-align:center;
font-size:18px;
}
.folio-caption i{
position: absolute;
top: -9px;
left: 50%;
font-size: 32px;
line-height: 9px;
margin-left: -9px;
color: #fff;
}
.portfolio-item {
  margin: 0;
  padding:0 0;
}
.main-folio{
 margin:0 auto;
 width:100%;
padding:40px 0;
position:relative;
overflow:hidden;
}
.container_folio{
margin:0 0 0 0;
padding:0 0 40px 0;
list-style:none;
width:100%;
clear:both;
position: relative;
overflow: hidden;
}

.col-md-12{
 clear:both;
}
.img-portfolio {
  margin: 0;
}

div.link{
visibility:hidden;
position:absolute;
top:0;
color:#fff;
font-size:14px;
}

.thumbnail {
border-radius: 0px;
}
.link-attr{
width:60%;
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%); 
-webkit-transform: translate(-50%, -50%); 
-moz-transform: translate(-50%, -50%); 
-ms-transform: translate(-50%, -50%); 
-o-transform: translate(-50%, -50%); 
text-align:center;
z-index: 88;

}
.link-attr a{

border:3px solid #fff;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-o-border-radius: 100%;
border-radius: 100%;
width: 48px;
height: 48px;
background: transparent;
padding: 10px 12px;
color:#fff;
animation-duration: 750ms;
  -webkit-animation-duration: 750ms;
  -moz-animation-duration: 750ms;
  -ms-animation-duration: 750ms;
  -o-animation-duration: 750ms;
        animation-iteration-count: backwards;   
        -webkit-animation-iteration-count: backwards;   
        -moz-animation-iteration-count: backwards;   
        -ms-animation-iteration-count: backwards;   
        -o-animation-iteration-count: backwards;   
			-webkit-animation-delay: 500ms;
			-moz-animation-delay: 500ms;
			-ms-animation-delay: 500ms;
			-o-animation-delay: 500ms;
display:none;
}
.link-search{
position:absolute;
left:50%;
top:-24px;
margin-left:-55px;
}
.link-chain{
position:absolute;
right:50%;
top:-24px;
margin-right:-55px;
}
.link-attr a i{
font-size:21px;

}
/*=================contact====================*/
.main-contact{
 padding: 40px 0;
}


.contact-info p span{
width:24px;
height:24px;
text-align:center;
}
.contact-info .fa{
font-size:18px;
vertical-align:middle;
margin-right:20px;
}

.contact p{
font-size:18px;
margin:0;
padding:0 0 0 0;
}
.contact span{
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
-o-border-radius: 100%;
border: 4px solid #7a7a7a;
width: 60px;
height: 60px;
text-align: center;
font-size: 36px;
line-height: 53px;
margin-bottom:20px;
}
.contact p a{
color:#7a7a7a;
}
.contact p a:hover{
text-decoration:none;
}
/* Footer */

footer {
color: #ffffff;
padding:10px 0;
}
.cp-right P{
margin:0;
padding:10px 0;
}
.cp-right P a{
 text-decoration:none;
}
.cp-right P a:hover{
color:#fff;
}
.top-scroll {
  margin: 0;
  padding:0;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
  display:block;
  font-size:92px;
  line-height:48px;
}
.top-scroll a:hover{
color:#fff;
}
i.scroll {
color: #fff;
position: absolute;
top: -15px;
left:50%;
margin-left: -28px;
}

i.scroll:hover {
color:#fff;
}


/* ========================================== Footer ======================================================= */
.list-inline{
text-align:right;
margin:0;
}
.list-inline > li {
display: inline-block;
padding-right: 6px;
padding-left: 6px;
}
.list-inline > li a i{
 vertical-align:middle;
 line-height: 41px;

}
.socIcon{
display:block;
color:#fff;
animation-duration: 750ms;
  -webkit-animation-duration: 750ms;
  -moz-animation-duration: 750ms;
  -ms-animation-duration: 750ms;
  -o-animation-duration: 750ms;
  -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -ms-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
        animation-iteration-count: 1;   
        -webkit-animation-iteration-count: 1;   
        -moz-animation-iteration-count: 1;   
        -ms-animation-iteration-count: 1;   
        -o-animation-iteration-count: 1;  
}
.socIcon:hover{
color:#fff;
}
/* ========================================== modal ======================================================= */
body.modal-open{
margin-right: 0px !important;
 overflow:scroll ;   
}
/* ========================================== Responsive ======================================================= */



@media screen and (min-width:240px) and (max-width: 991px){
.cp-right, ul.list-inline{
 text-align:center;       
    }
i.scroll {
color: #fff;
position: relative;
top: 0;
left: 0;
margin-left: 0;
}
 .main-about img {
margin-right: 0;
}
.main-avatar{
margin-bottom:20px;
}
.about-content{
text-align:center;
}
.about-content p{
text-align:left;
}
}
@media screen and (min-width:768px) and (max-width: 991px){
.link-attr a {
width: 36px;
height: 36px;
padding: 5px 10px;
}
.link-attr a i {
font-size: 12px;
}
}
@media (min-width: 768px){
.navbar-nav {
float: none;}
}
@media screen and (min-width:768px) and (max-width: 1199px){
.folio-caption p{
font-size:12px;
}
}
@media screen and (min-width:240px) and (max-width: 767px){
ul.container_folio{
text-align:center;
}
    
 ul.container_folio li.box{
margin:0;
padding:0 15px;
width:100%;
max-width:380px;
display:inline-block;
float:none;
}   

.navbar ul.pull-right{
float:none !important;
}
.navbar-inverse .navbar-nav > li > a.btn, .navbar-inverse .navbar-nav > li span {
    display:none;
}

.navbar-toggle {
margin-top: 25px;
}

}
@media screen and (min-width:240px) and (max-width: 480px){
.contact p {
font-size:14px;
}
.link-attr a {
width: 36px;
height: 36px;
padding: 5px 10px;
}
.link-attr a i {
font-size: 12px;
}
}

@media screen and (min-width:768px) and (max-width: 1024px){
.logo img{
width: 12%;
}
#flex-head h1{
font-size:48px;
}
#flex-head h2{
font-size:18px;
}
.main-caption .btn-clear, .main-about .btn-clear{
padding:8px 14px;
}

.title-page h2{
font-size:24px;
}
}


@media screen and (min-width:481px) and (max-width: 767px){
footer{
     margin-bottom:0;   
}
.logo img{
width: 15%;
}
#flex-head h1{
font-size:36px;
}
#flex-head h2{
font-size:14px;
padding:0 0 8px 0;
}
.main-caption .btn-clear, .main-about .btn-clear{
padding:8px 14px;
}
.title-page h2{
font-size:18px;
}
}
@media screen and (min-width:240px) and (max-width: 480px){
.logo img{
width: 15%;
}
#flex-head h1{
font-size:24px;
}
#flex-head h2{
font-size:14px;
padding:0 0 8px 0;
}
.main-caption .btn-clear, .main-about .btn-clear{
padding:6px 14px;
}
.title-page h2{
font-size:24px;
}
}
@media screen and (max-width: 767px) and (min-width: 240px){
.navbar-toggle {
margin-top: 10px;
}
.avatar{
     margin:0 auto;   
    }

}
	



.bgd
{
	
	background: url(../img/bgd.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.bgd1
{
	
	background: url(../img/bgd1.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.bgd2
{
	
	background: url(../img/bgd2.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

}



.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
}
.tilesWrap li {
  display: inline-block;
  width: 25%;
  min-width: 230px;
  max-width: 230px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  font-family: 'helvetica', san-serif;
  min-height: 25vh;
  background: #262a2b;
  border: 1px solid #252727;
  text-align: left;
}
.tilesWrap li h2 {
  font-size: 114px;
  margin: 0;
  position: absolute;
  opacity: 0.2;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
  font-size: 20px;
  color: #b7b7b7;
  margin-bottom: 5px;
}
.tilesWrap li p {
  font-size: 18px;
  line-height: 23px;
  color: #e4dddd;
  margin-top: 5px;
}
.tilesWrap li button {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: #b7b7b7;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}
.tilesWrap li button:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 120%;
  background: #b7b7b7;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  
}
.tilesWrap li:hover button {
  transform: translateY(5px);
  opacity: 1;
}
.tilesWrap li button:hover {
  color: #262a2b;
}
.tilesWrap li button:hover:before {
  left: 0;
  opacity: 1;
}
.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 0.6;
}

.tilesWrap li:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(1):before {
  background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(2):before {
  background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
  background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(4):before {
  background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}


.row-certificate {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-around;
  padding-bottom: 40px; 
}

/* Create four equal columns that sits next to each other */
.column-certificate {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column-certificate {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column-certificate {
    flex: 100%;
    max-width: 100%;
  }

  .column-certificate-padding {
    margin-top: 40px !important;
  }
}






/*CSS for work experience design*/

.main-timeline-1{ font-family: 'Barlow', sans-serif; }
.main-timeline-1:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline-1 .timeline{
    width: 50%;
    padding: 12px;
    margin: 0 5px 0 0;
    float: left;
    position: relative;
    z-index: 1;
}
.main-timeline-1 .timeline-content{
    background: #fff;
    min-height: 165px;
    padding: 20px 20px 60px 140px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: block;
    position: relative;
}
.main-timeline-1 .timeline-content:hover{ text-decoration: none; }
.main-timeline-1 .timeline-content:before,
.main-timeline-1 .timeline-content:after{
    content: "";
    background: #f24709;
    width: 80px;
    height: 60%;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
.main-timeline-1 .timeline-content:after{
    top: auto;
    left: auto;
    bottom: -10px;
    right: -10px;
}
.main-timeline-1 .timeline-year{
    color: #fff;
    background: #f24709;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    line-height: 165px;
    width: 95px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 20px;
    top: -12px;
    bottom: -12px;
}
.main-timeline-1 .timeline-year:before{
    content: "";
    background: linear-gradient(to top right, #6C433F 49%, transparent 50%);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: -12px;
}
.main-timeline-1 .timeline-icon{
    color: #f24709;
    font-size: 35px;
    line-height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.main-timeline-1 .title{
    color: #f24709;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 3px 0;
}
.main-timeline-1 .description{
    color: #555;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline-1 .timeline:nth-child(even){
    float: right;
    margin: 0 0 0 5px;
}
.main-timeline-1 .timeline:nth-child(even) .timeline-content{ padding: 20px 140px 60px 20px; }
.main-timeline-1 .timeline:nth-child(even) .timeline-content:before{
    left: auto;
    right: -10px;
}
.main-timeline-1 .timeline:nth-child(even) .timeline-content:after{
    right: auto;
    left: -10px;
}
.main-timeline-1 .timeline:nth-child(even) .timeline-year{
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.3);
    left: auto;
    right: 10px;
}
.main-timeline-1 .timeline:nth-child(even) .timeline-year:before{
    transform: rotateY(180deg);
    right: auto;
    left: -12px;
}
.main-timeline-1 .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: 10px;
}
.main-timeline-1 .timeline:nth-child(4n+2) .timeline-content:before,
.main-timeline-1 .timeline:nth-child(4n+2) .timeline-content:after,
.main-timeline-1 .timeline:nth-child(4n+2) .timeline-year{
    background: #F88800;
}
.main-timeline-1 .timeline:nth-child(4n+2) .timeline-icon,
.main-timeline-1 .timeline:nth-child(4n+2) .title{
    color: #F88800;
}
.main-timeline-1 .timeline:nth-child(4n+2) .timeline-year:before{
    background: linear-gradient(to top right, #af5807 49%, transparent 50%);
}
.main-timeline-1 .timeline:nth-child(4n+3) .timeline-content:before,
.main-timeline-1 .timeline:nth-child(4n+3) .timeline-content:after,
.main-timeline-1 .timeline:nth-child(4n+3) .timeline-year{
    background: #2E475D;
}
.main-timeline-1 .timeline:nth-child(4n+3) .timeline-icon,
.main-timeline-1 .timeline:nth-child(4n+3) .title{
    color: #2E475D;
}
.main-timeline-1 .timeline:nth-child(4n+3) .timeline-year:before{
    background: linear-gradient(to top right, #041b2b 49%, transparent 50%);
}
.main-timeline-1 .timeline:nth-child(4n+4) .timeline-content:before,
.main-timeline-1 .timeline:nth-child(4n+4) .timeline-content:after,
.main-timeline-1 .timeline:nth-child(4n+4) .timeline-year{
    background: #5ca51c;
}
.main-timeline-1 .timeline:nth-child(4n+4) .timeline-icon,
.main-timeline-1 .timeline:nth-child(4n+4) .title{
    color: #5ca51c;
}
.main-timeline-1 .timeline:nth-child(4n+4) .timeline-year:before{
    background: linear-gradient(to top right, #345614 49%, transparent 50%);
}
@media screen and (max-width:767px){
    .main-timeline-1 .timeline,
    .main-timeline-1 .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 20px 0;
    }
}
@media screen and (max-width:479px){
    .main-timeline-1 .timeline .timeline-content,
    .main-timeline-1 .timeline:nth-child(even) .timeline-content{
        padding: 60px 20px;
    }
    .main-timeline-1 .timeline .timeline-year,
    .main-timeline-1 .timeline:nth-child(even) .timeline-year{
        height: 55px;
        line-height: 55px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        right: 10px;
        left: auto;
    }
    .main-timeline-1 .timeline:nth-child(even) .timeline-year{
        top: -10px;
        bottom: auto;
        left: 10px;
    }
}




/*Css for certificate design*/

.main-timeline-2:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline-2 .timeline{
    width: 80%;
    float: left;
}
.main-timeline-2 .timeline-content{
    color: #fff;
    background: linear-gradient(to right, #3DC3F8,#1E9CE8);
    padding: 20px 20px 20px 170px;
    margin: 0 0 60px;
    border-radius: 100px 0 0;
    display: block;
    position: relative;
}
.main-timeline-2 .timeline-content:hover{ text-decoration: none; }
.main-timeline-2 .timeline-icon{
    color: #fff;
    background: linear-gradient(to right, #3DC3F8,#1E9CE8);
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    height: 120px;
    width: 120px;
    border: 10px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
    left: 20px;
}
.main-timeline-2 .title{
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 5px;
}
.main-timeline-2 .description{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline-2 .timeline:nth-child(even){
    margin: -60px 0 60px;
    float: right;
}
.main-timeline-2 .timeline:nth-child(even) .timeline-content{
    padding: 20px 170px 20px 20px;
    margin: 60px 0 0;
    border-radius: 0 0 100px 0;
}
.main-timeline-2 .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: 20px;
    bottom: auto;
    top: -60px;
}
.main-timeline-2 .timeline:nth-child(4n+2) .timeline-content,
.main-timeline-2 .timeline:nth-child(4n+2) .timeline-icon{
    background: linear-gradient(to right, #A71E92,#C6409F);
}
.main-timeline-2 .timeline:nth-child(4n+3) .timeline-content,
.main-timeline-2 .timeline:nth-child(4n+3) .timeline-icon{
    background: linear-gradient(to right, #F18624,#D36414);
}
.main-timeline-2 .timeline:nth-child(4n+4) .timeline-content,
.main-timeline-2 .timeline:nth-child(4n+4) .timeline-icon{
    background: linear-gradient(to right, #27ae60,#2ecc71);
}
@media screen and (max-width:767px){
    .main-timeline-2 .timeline,
    .main-timeline-2 .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 15px;
    }
    .main-timeline-2 .timeline-content,
    .main-timeline-2 .timeline:nth-child(even) .timeline-content{
        padding: 60px 15px 15px 15px;
        margin: 40px 0 0;
        border-radius: 0 0 50px 0;
    }
    .main-timeline-2 .timeline-icon,
    .main-timeline-2 .timeline:nth-child(even) .timeline-icon{
        font-size: 30px;
        line-height: 60px;
        height: 80px;
        width: 80px;
        right: 15px;
        left: auto;
        top: -40px;
    }
}
@media screen and (max-width:567px){
    .main-timeline-2 .title{ font-size: 18px; }
}
